.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App > div {
    padding: 1.5rem;
}

h2 {
    padding: 0.5rem;
}

button {
    margin: 1.5rem 1.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 18px;
}

img {
    max-height: 200px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
