.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App > div {
    padding: 1.5rem;
}

.container {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.counter {
    min-height: 140px;
    font-size: 5rem;
}

h2 {
    padding: 0.5rem;
}

button {
    margin: 1.5rem 1.5rem;
}

img {
    max-height: 200px;
    padding: 0 2rem 0 2rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn {
    background: #66dbf9;
    background-image: -webkit-linear-gradient(top, #66dbf9, #2c87bf);
    background-image: -moz-linear-gradient(top, #66dbf9, #2c87bf);
    background-image: -ms-linear-gradient(top, #66dbf9, #2c87bf);
    background-image: -o-linear-gradient(top, #66dbf9, #2c87bf);
    background-image: linear-gradient(to bottom, #66dbf9, #2c87bf);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #66dbf9;
    background-image: -webkit-linear-gradient(top, #66dbf9, #3498db);
    background-image: -moz-linear-gradient(top, #66dbf9, #3498db);
    background-image: -ms-linear-gradient(top, #66dbf9, #3498db);
    background-image: -o-linear-gradient(top, #66dbf9, #3498db);
    background-image: linear-gradient(to bottom, #66dbf9, #3498db);
    text-decoration: none;
}
